* {
  margin: 0;
  padding: 0;
  touch-action: pan-x pan-y;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
@media screen and (max-width: 770px) {
  body {
    background-color: #fafafa;
  }
  body #root {
    margin: 0 auto;
    position: relative;
  }
  body #root section {
    display: block;
  }
}
@media screen and (min-width: 770px) {
  body {
    background-color: #fafafa;
  }
  body #root {
    margin: 0 auto;
    position: relative;
  }
  body #root section {
    display: block;
  }
}
