* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  background-color: #fafafa;
}
body #root {
  margin: 0 auto;
  height: 1000px;
  position: relative;
}
