@media screen and (max-width: 770px) {
  #root .recommend .songList {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 40rem;
    padding: 2.6667rem;
  }
  #root .recommend .songList .song {
    margin-top: 2.6667rem;
  }
  #root .recommend .songList .song .title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2.6667rem;
  }
  #root .recommend .songList .song .List {
    display: flex;
    overflow: scroll;
  }
  #root .recommend .songList .song .List::-webkit-scrollbar {
    display: none;
  }
  #root .recommend .songList .song .List .item {
    position: relative;
    margin-right: 2rem;
  }
  #root .recommend .songList .song .List .item img {
    width: 29.0667rem;
    height: 29.0667rem;
    border-radius: 1.3333rem;
  }
  #root .recommend .songList .song .List .item .num {
    position: absolute;
    right: 0;
    bottom: 5.3333rem;
    height: 1.3333rem;
    line-height: 1.3333rem;
    font-size: 1.3333rem;
    padding: 0.6667rem;
    border-radius: 1.3333rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
  }
  #root .recommend .songList .song .List .item h3 {
    float: left;
    font-size: 3.3333rem;
    font-weight: 300;
    text-align: center;
  }
  #root .recommend .songList .prefecture {
    margin-top: 2.6667rem;
  }
  #root .recommend .songList .prefecture .title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2.6667rem;
  }
  #root .recommend .songList .prefecture .List {
    display: flex;
    overflow: scroll;
  }
  #root .recommend .songList .prefecture .List::-webkit-scrollbar {
    display: none;
  }
  #root .recommend .songList .prefecture .List .item {
    position: relative;
    margin-right: 2rem;
  }
  #root .recommend .songList .prefecture .List .item img {
    width: 60rem;
    height: 33.3333rem;
    border-radius: 2.6667rem;
  }
  #root .recommend .songList .prefecture .List .item .num {
    position: absolute;
    bottom: 5.3333rem;
    left: 2.6667rem;
    display: flex;
  }
  #root .recommend .songList .prefecture .List .item .num img {
    width: 9.0667rem;
    height: 9.0667rem;
  }
  #root .recommend .songList .prefecture .List .item .num span {
    display: inline-block;
    line-height: 9.0667rem;
    color: #fff;
    font-size: 4rem;
  }
  #root .recommend .songList .prefecture .List .item h3 {
    font-size: 3.3333rem;
    font-weight: 300;
    text-align: left;
  }
}
@media screen and (min-width: 770px) {
  #root .recommend .songList {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 20rem;
    padding: 2.6667rem;
  }
  #root .recommend .songList .song {
    margin-top: 2.6667rem;
  }
  #root .recommend .songList .song .title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2.6667rem;
  }
  #root .recommend .songList .song .List {
    display: flex;
    overflow: scroll;
  }
  #root .recommend .songList .song .List::-webkit-scrollbar {
    display: none;
  }
  #root .recommend .songList .song .List .item {
    position: relative;
    margin-right: 2rem;
  }
  #root .recommend .songList .song .List .item img {
    width: 109px;
    height: 109px;
    border-radius: 1.3333rem;
  }
  #root .recommend .songList .song .List .item .num {
    position: absolute;
    right: 2rem;
    bottom: 25px;
    height: 6px;
    line-height: 6px;
    font-size: 6px;
    padding: 5px;
    border-radius: 1.3333rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
  }
  #root .recommend .songList .song .List .item h3 {
    font-size: 15px;
    float: left;
    font-weight: 300;
    text-align: center;
  }
  #root .recommend .songList .prefecture {
    margin-top: 2.6667rem;
  }
  #root .recommend .songList .prefecture .title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2.6667rem;
  }
  #root .recommend .songList .prefecture .List {
    display: flex;
    overflow: scroll;
  }
  #root .recommend .songList .prefecture .List::-webkit-scrollbar {
    display: none;
  }
  #root .recommend .songList .prefecture .List .item {
    position: relative;
    margin-right: 2rem;
  }
  #root .recommend .songList .prefecture .List .item img {
    width: 230px;
    height: 130px;
    border-radius: 2.6667rem;
  }
  #root .recommend .songList .prefecture .List .item .num {
    position: absolute;
    bottom: 5.3333rem;
    left: 2.6667rem;
    display: flex;
  }
  #root .recommend .songList .prefecture .List .item .num img {
    width: 34px;
    height: 34px;
  }
  #root .recommend .songList .prefecture .List .item .num span {
    display: inline-block;
    line-height: 34px;
    color: #fff;
    font-size: 16px;
  }
  #root .recommend .songList .prefecture .List .item h3 {
    font-size: 13px;
    font-weight: 300;
    text-align: left;
  }
}
