@media screen and (max-width:770px) {
    body {
        .gu-mirror {
            // display: none;
            position: absolute;
            // margin-right: 2rem;
            .content {
                // position: relative;
                // top: 16rem;
                // left: 2.6667rem;
                opacity: .8;
                img {
                    
                    width: 29.0667rem;
                    height: 29.0667rem;
                    border-radius: 1.3333rem;
                }
                .num {
                    // display: none;
                    position: absolute;
                    right: 0;
                    bottom: 5.3333rem;
                    height: 1.3333rem;
                    line-height: 1.3333rem;
                    font-size: 1.3333rem;
                    padding: .6667rem;
                    border-radius: 1.3333rem;
                    background-color: rgba(0, 0, 0, .4);
                    color: #fff;
                }

                h3 {
                    // display: none;
                    float: left;
                    font-size: 3.3333rem;
                    font-weight: 300;
                    text-align: center;
                }
            }
        }
    }
}