@media screen and (max-width:770px) {
    #root {
        .hotSearch {
            box-sizing: border-box;
            position: absolute;
            width: 100%;
            top: 40rem;
            .title{
                font-size: 4rem;
                margin: 2.6667rem;
                font-weight: 700;
            }
            .List {
                background-color: pink;
                display: flex;
                flex-wrap: wrap;
                .item{
                    display: block;
                    height: 6.4rem;
                    line-height: 6.4rem;
                    text-align: center;
                    padding: 0 20px;
                    background-color: #fff;
                    border-radius: 6.4rem;
                    font-size: 4rem;
                    margin-top: 2.6667rem;
                    margin-left: 2.6667rem;
                }
            }
        }
    }
}

@media screen and (min-width:770px) {}